<a href="https://colab.research.google.com/github/MuhamedAdemi/MuhamedAdemi/blob/main/ligjerata!.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = ["Jusuf", "Kajdafe", "Muhamed"]
print(x)
x.append(12)
print(x)

['Jusuf', 'Kajdafe', 'Muhamed']
['Jusuf', 'Kajdafe', 'Muhamed', 12]

In [ ]:
y = [2009,[20,10,2010],[16,6,1983],[6,2,1984]]
print(y)

[2009, [20, 10, 2010], [16, 6, 1983], [6, 2, 1984]]

In [ ]:
z = [1,2,3,5,9,8,7]
z.sort(reverse = True)
z

[9, 8, 7, 5, 3, 2, 1]

In [ ]:
x = (1, 2, 3, 4)

print('type(x) = ', type(x))
print('x = ', x)
print('---')

x = list(x)

print('type(x) = ', type(x))
print('x = ', x)
print('---')

x[0] = -10

x = tuple(x)

print('type(x) = ', type(x))
print('x = ', x)
print('---')

In [ ]:
x = 7
y = 2
print(y//x)
print(x%y)

0
1

In [ ]:
my = [52,23,98,45]

my.sort()
my

[23, 45, 52, 98]

In [ ]:
tu = (2,'banana',6)
list(tu)

[2, 'banana', 6]

In [ ]:
a , b = 25, 25
if a > b:
  print(f'{a} is grated {b}')
elif a < b:
  print(f'{b} is greater than { a}')
else:
  print(f'{b} is ecual than {  a}')

25 is ecual than 25

In [ ]:
points = int(input())


if points >= 90   :
  print('gread is 10 ')
elif points >= 80  :
  print('gread is 9 ')
elif points >= 70  :
  print('gread is 8 ')
elif points >= 60  :
  print('gread is 7 ')
elif points >= 50  :
  print('gread is 6 ')
else:
  print('Student is faild')

42
Student is faild