<a href="https://colab.research.google.com/github/MuhamedAdemi/MuhamedAdemi/blob/main/Week_1_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1 Day 1

 - Variables
 - **print()** function
 - **input()** function
 - Casting of variables
 - Mathematical operations with variables
 - Comparison operations with variables
 - Logical operations with variables
 - Strings in Python
 - Operations with strings
 - Lists
 - Accessing and working with list items
 - Functions for working with lists
 - Operations with lists
 - Tuples
 - Accessing and working with tuple items
 - Functions for working with tuples
 - Operations with tuples

---

## Variables

A variable in Python is simply a **container for storing data values**.
It takes a certain value we assign to it, and stores that value in memory.

We give different **names** to variables, in order to know which value is stored in which variable.


For example:

    i = 5
    
    str_var = "text"
    
    char_variable = 'c'
    
    x = 2.3
    
    b = True

You can give any name to a variable, as long as it is one word (either all together or separated by an underscore). Usually, variables should contain shorter names, so that the code is cleaner.

When we ask **'What is the type of a variable?'** we mean what is the type of data that is stored in the variable.

There are 4 basic types of variables in Python:

 - **int** &rarr; integer (..., -4, -3, -2, -1, 0, 1, 2, 3, 4, ...)
 - **float** &rarr; decimal number (..., -4.3, -3.7, -2.5, -1.4, 0.0, 0.1, 1.3, 2.1, 4.4, ...)
 - **string** &rarr; textual value ("text 1", 'word', 'tree', "Banana", ...)
 - **bool** &rarr; boolean value (True/False)

We also mention a 5th type of variable, **character**, which in Python is a string (in other languages, however, a character is a different type of a variable than string).

### Exercise 1

Define 4 variables (int, float, string, bool) in Python. You decide their values.

#### Solution

Defining a variable in Python is easy: a mathematical equation with the **=** sign in the middle. Left from **=**, i.e. the Left-hand side (LHS), has the variable name, and the Right-hand side (RHS) has the value assigned to that variable.

In [ ]:
# int
x = 5

# float
y = 2.3

# string
first_string = 'This is the 1st string @@!'

# bool
b = True

### Exercise 1.1

Print the values of the variables you defined in Exercise 1.

#### Solution 1

To print something in Python we use the **print()** function.

In [ ]:
# Printing the int variable
print("x = ", x)
print()

# Printing the float variable
print("y = ", y)
print()

# Printing the string variable
print("first_string = ", first_string)
print()

# Printing the bool variable
print('b = ', b)

x =  5

y =  2.3

first_string =  This is the 1st string @@!

b =  True

In [ ]:
print(x,'\n', y,'\n', first_string,'\n', b)

5
 2.3
 This is the 1st string @@!
 True

#### Solution 2

Specific to Jupyter Notebook (and Google Colab), we can add only one variable we want to print at the end of a cell, without using the print function.

In [ ]:
# Printing the int variable
x

5

In [ ]:
# Printing the float variable
y

2.3

In [ ]:
# Printing the string variable
first_string

'This is the 1st string @@!'

In [ ]:
# Printing the bool variable
b

True

**Note**: However, if we just subsequently write the variables in a cell, jupyter notebook will print only the last variable.

In [ ]:
# int variable:
x
# print(x)

# float variable:
y

# string variable:
first_string

# bool variable:
b

True

## The **print()** function

We defined some variables and saw the **print()** function in Exercise 1.1.
The purpose of the function is to allow us to show on screen the value that variables have.

Now let's see how we can define variables in a more elegant way and the different ways that the **print()** function can be used.

In [ ]:
# Some defined variables
a = "text for variable a"
b = 'text for variable b'
x = 1
y = 2.7

In [ ]:
print(a, b, x, y)

text for variable a text for variable b 1 2.7

In [ ]:
# Defining the variables in another way
a, b, x, y = 'text A', 'text B', 1.1, 2.72

# Printing the variables
print("a = ", a)
print("b = ", b)
print("x = ", x)
print("y = ", y)

a =  text A
b =  text B
x =  1.1
y =  2.72

## The **input()** function

The **input()** function is a function in Python that allows the user to input data.

Here is an example of how the input function works. To store the inputted data in a variable, we must assign the **input()** function to a variable.

In [ ]:
# The input() function in Python
x = input()
print("x = ", x)
print()

# We can also add text as an argument to the input() function to notify the user what needs to be inputted
x = input('Внеси целобројна вредност: ')

12
x =  12

Внеси целобројна вредност: 1

In [ ]:
x

'1'

## Checking variable types and casting


To check the type of data that is stored in a variable, we use the **type(here goes the variable to check)** function.

Let's see an example.

In [ ]:
# Some defined variables
x = 5
y = 'It is Tuesday evening.'
f = False

# Check and print the types of the variables
print('The type of x is ', type(x))
print('The type of y is ', type(y))
print('The type of f is ', type(f))
print('The type of the number 2.2 is ', type(2.2))

The type of x is  <class 'int'>
The type of y is  <class 'str'>
The type of f is  <class 'bool'>
The type of the number 2.2 is  <class 'float'>

**Casting**, also known as type conversion, is a process that **converts a variable's data type into another data type**.

These conversions can be implicit (automatically interpreted) or explicit (using built-in functions).


To cast a variable's data to a specific type, we use the following functions:

 - **int()** &rarr; cast to int
 - **float()** &rarr; cast to float
 - **str()** &rarr; cast to string
 - **bool()** &rarr; cast to boolean

In [ ]:
num = 78.9996
print(num)
print(type(num))

num2 = int(num)
print(type(num2))
print(num2)

78.9996
<class 'float'>
<class 'int'>
78

In [ ]:
# int variable
x = 7
print("x = ", x)
print()

# Convert the above defined variable from int to float, then from float to string, and from string back to int. Print the intermediate results.
print('The type of x is ', type(x))

x = float(x)
print('The type of x is ', type(x))
print("x = ", x)

x = str(x)
print('The type of x is ', type(x))
print("x = ", x)

x = int(x)
print('The type of x is ', type(x))
print("x = ", x)

x =  7

The type of x is  <class 'int'>
The type of x is  <class 'float'>
x =  7.0
The type of x is  <class 'str'>
x =  7.0

ValueError: invalid literal for int() with base 10: '7.0'

In [ ]:
# int variable
x = 7
print("x = ", x)
print()

# Convert the above defined variable from int to float, then from float to string, and from string back to int. Print the intermediate results.
print('The type of x is ', type(x))

y = float(x)
print('The type of y is ', type(y))
print("y = ", y)

z = str(x)
print('The type of z is ', type(z))
print("z = ", z)

t = int(x)
print('The type of x is ', type(t))
print("t = ", t)

x =  7

The type of x is  <class 'int'>
The type of y is  <class 'float'>
y =  7.0
The type of z is  <class 'str'>
z =  7
The type of x is  <class 'int'>
t =  7

In [ ]:
print('x = ', x)
print('y = ', y)
print('z = ', z)
print('t = ', t)

x =  7
y =  7.0
z =  7
t =  7

In [ ]:
# string variable
y = 'It is Tuesday evening 111.'

# Cast the string variable to int. What do you get from the code?
y = int(y)

ValueError: invalid literal for int() with base 10: 'It is Tuesday evening 111.'

**Note**: In order to be able to cast a variable's data from one type to another, we need to be certain that the data stored in the variable can, in fact, be of that specific type of data.

### Exercise 2

Lets exemplify a few more castings. Define your own variables and cast them to various types.

#### Solution

We will use the functions we mentioned thus far.

In [ ]:
# Define some variables
var1 = 'text1'
var2 = 7.8
var3 = 2
var4 = '111'

# Check the type of variables and cast them. See what results you get.
int(var4)

111

## Arithmetic operations with int and float variables

In Python, we can perform all arithmetic operations with int and float variables.

Assuming **x** and **y** are numeric variables (int or float), the following table defines the arithmetic operations we can perform.



<table style="width:70%">
<tr>
<td><center><b>Operation</b></center></td>
<td><center><b>Python syntax</b></center></td>
<td><center><b>Result from performed operation</b></center></td>
</tr>

<tr>
<td><center>Addition</center></td>
<td><center>x + y</center></td>
<td><center>The sum of x and y</center></td>
</tr>

<tr>
<td><center>Subtraction</center></td>
<td><center>x - y</center></td>
<td><center>The difference of x and y</center></td>
</tr>

<tr>
<td><center>Multiplication</center></td>
<td><center>x * y</center></td>
<td><center>The product of x and y</center></td>
</tr>

<tr>
<td><center>Division</center></td>
<td><center>x / y</center></td>
<td><center>The quotient of x and y</center></td>
</tr>
    
<tr>
<td><center>Power</center></td>
<td><center>x ** y</center></td>
<td><center>x to the power of y</center></td>
</tr>
        
<tr>
<td><center>Integer division</center></td>
<td><center>x // y</center></td>
<td><center>The integer quotient of x and y</center></td>
</tr>
            
<tr>
<td><center>Modulo</center></td>
<td><center>x % y</center></td>
<td><center>The remainder of dividing x and y</center></td>
</tr>
</table>

### Exercise 3

Input two numbers and save their values in variables named **x** and **y**.

Perform all of the above mathematical operations on **x** and **y**.

#### Solution

In [ ]:
# First, let's try to store the values of x and y in variables and then we can perform the operations.
x, y = int(float(input('x = '))), int(float(input('y = ')))

print('x = ', x)
print('y = ', y)
print('type(x) = ', type(x))
print('type(y) = ', type(y))

print('---')

res = x + y
print('x + y = ', res)

print('---')

res_sub = x - y
print('x - y = ', res_sub)

print('---')

res_mult = x * y
print('x * y = ', res_mult)

print('---')

res_div = x / y
print('x / y = ', res_div)

print('---')

res_power = x ** y
print('x ** y = ', res_power)

print('---')

res_int_div = x // y
print('x // y = ', res_int_div)

print('---')

res_mod = x % y
print('x % y = ', res_mod)

x = 5
y = 2
x =  5
y =  2
type(x) =  <class 'int'>
type(y) =  <class 'int'>
---
x + y =  7
---
x - y =  3
---
x * y =  10
---
x / y =  2.5
---
x ** y =  25
---
x // y =  2
---
x % y =  1

**Note**: Try to see what happens when you add **x** and **y** immediately after inputting them using the **input()** function?

In [ ]:
result = input() + input()
print(result)

2
4
24

**Note**: Why is this the case?

The data we input via the input() function is always a string.
Make sure you cast it to the correct data type before performing mathematical operations!

## Comparison operations with int and float variables

In Python, we can perform comparison operations with int and float variables.

If **x** and **y** are some variables defined in Python, some comparison operations that we can perform on **x** and **y** are:

<table style="width:100%">
<tr>
<td><center><b>Operation</b></center></td>
<td><center><b>Python syntax</b></center></td>
<td><center><b>Result from performed operation</b></center></td>
</tr>

<tr>
<td><center>Equal</center></td>
<td><center>x == y</center></td>
<td><center>Returns <b>True</b> if <b>x</b> is <b>equal</b> to <b>y</b>, else returns <b>False</b></center></td>
</tr>

<tr>
<td><center>Not equal</center></td>
<td><center>x != y</center></td>
<td><center>Returns <b>True</b> if <b>x</b> is <b>not equal</b> to <b>y</b>, else returns <b>False</b></center></td>
</tr>

<tr>
<td><center>Greater than</center></td>
<td><center>x > y</center></td>
<td><center>Returns <b>True</b> if <b>x</b> is <b>greater than</b> <b>y</b>, else returns <b>False</b></center></td>
</tr>

<tr>
<td><center>Greater than or equal to</center></td>
<td><center>x >= y</center></td>
<td><center>Returns <b>True</b> if <b>x</b> is <b>greater or equal to</b> <b>y</b>, else returns <b>False</b></center></td>
</tr>
    
<tr>
<td><center>Less than</center></td>
<td><center>x < y</center></td>
<td><center>Returns <b>True</b> if <b>x</b> is <b>less than</b> <b>y</b>, else returns <b>False</b></center></td>
</tr>
        
<tr>
<td><center>Less than or equal to</center></td>
<td><center>x <= y</center></td>
<td><center>Returns <b>True</b> if <b>x</b> is <b>less or equal to</b> <b>y</b>, else returns <b>False</b></center></td>
</tr>

</table>

### Exercise 4

Input two numbers and save their values in variables named **x** and **y**.

Remember to cast the variables to their corresponding type. Perform all of the above comparison operations on **x** and **y**.

#### Solution

In [ ]:
x, y = 4, 4

print('x = ', x)
print('y = ', y)

print('---')

res_eq = x == y
print('type(res_eq) = ', type(res_eq))
print('x == y : ', res_eq)

print('---')

res_not_eq = x != y
print('type(res_not_eq) = ', type(res_not_eq))
print('x != y : ', res_not_eq)

print('---')

res_greater = x > y
print('type(res_greater) = ', type(res_greater))
print('x > y : ', res_greater)

print('---')

res_greater_or_eq = x >= y
print('type(res_greater_or_eq) = ', type(res_greater_or_eq))
print('x >= y : ', res_greater_or_eq)

print('---')

res_less = x < y
print('type(res_less) = ', type(res_less))
print('x < y : ', res_less)

print('---')

res_less_or_eq = x <= y
print('type(res_less_or_eq) = ', type(res_less_or_eq))
print('x <= y : ', res_less_or_eq)

x =  4
y =  4
---
type(res_eq) =  <class 'bool'>
x == y :  True
---
type(res_not_eq) =  <class 'bool'>
x != y :  False
---
type(res_greater) =  <class 'bool'>
x > y :  False
---
type(res_greater_or_eq) =  <class 'bool'>
x >= y :  True
---
type(res_less) =  <class 'bool'>
x < y :  False
---
type(res_less_or_eq) =  <class 'bool'>
x <= y :  True

## Logical operations with boolean variables

In Python, we can perform logical operations with boolean variables.

If **x** and **y** are some variables defined in Python, some operations that we can perform on **x** and **y** are:

<table style="width:100%">
<tr>
<td><center><b>Operation</b></center></td>
<td><center><b>Python syntax</b></center></td>
<td><center><b>Result from performed operation</b></center></td>
</tr>

<tr>
<td><center>Logical AND</center></td>
<td><center>x and y</center></td>
<td><center>Returns <b>True</b> if and <i><b>only</b></i> if both <b>x</b> and <b>y</b> are <b>True</b>, else returns <b>False</b></center></td>
</tr>

<tr>
<td><center>Logical OR</center></td>
<td><center>x or y</center></td>
<td><center>Returns <b>True</b> if <i><b>either</b></i> <b>x</b> is <b>True</b> or <b>y</b> is <b>True</b>. Returns <b>False</b> if and <i><b>only</b></i> if both <b>x</b> and <b>y</b> are <b>False</b></center></td>
</tr>

<tr>
<td><center>Logical NOT</center></td>
<td><center>not x</center></td>
<td><center>Returns <b>True</b> if <b>x</b> is <b>False</b>, else returns <b>False</b> if <b>x</b> is <b>True</b></center></td>
</tr>
</table>

You can find more about boolean algebra and De Morgan Laws on the following links:

- https://en.wikipedia.org/wiki/Boolean_algebra

- https://en.wikipedia.org/wiki/De_Morgan%27s_laws

### Exercise 5

Define two boolean variables **x** and **y**. Perform all of the above logical operations on **x** and **y**.

#### Solution

In [ ]:
x, y = True, False

res_and = x and y
res_or = x or y
res_not = not x

print(res_and)
print(res_or)
print(res_not)

False
True
False

## Strings in Python

A string is a collection of alphabetic characters, words or other characters.

To work with strings, we use various functions that exist in Python (built-in).

Given a string variable defined in Python, **str_var = 'some text'**, here are some operations we can perform:

<table style="width:100%">
<tr>
<td><center><b>Operation</b></center></td>
<td><center><b>Python syntax</b></center></td>
<td><center><b>Result from performed operation</b></center></td>
</tr>

<tr>
<td><center>Access a symbol at a specific index in the string (the index is <b>always</b> an int)</center></td>
<td><center>str_var[index]</center></td>
<td><center>Returns the symbol (as a string) at the specific index in str_var</center></td>
</tr>

<tr>
<td><center>Accesing parts (substrings) of the string with slicing</center></td>
<td><center>str_var[start_idx : end_idx]</center></td>
<td><center>Returns the string from location start_idx to location end_idx - 1 in str_var</center></td>
</tr>

<tr>
<td><center>Finding the length of the string</center></td>
<td><center><b>len</b>(str_var)</center></td>
<td><center>Returns an int value which is the length (number of characters including whitespaces) of the string</center></td>
</tr>

<tr>
<td><center>Make all letters in a string UPPERCASE</center></td>
<td><center>str_var.<b>upper()</b></center></td>
<td><center>Returns a new string with all the letters in uppercase</center></td>
</tr>

<tr>
<td><center>Make all letters in a string LOWERCASE</center></td>
<td><center>str_var.<b>lower()</b></center></td>
<td><center>Returns a new string with all the letters in lowercase</center></td>
</tr>

<tr>
<td><center>Count how many times a symbol occurs in a string</center></td>
<td><center>str_var.<b>count</b>(str_symbol_to_count)</center></td>
<td><center>Returns an int value which is the number of times the symbol occurs in the string</center></td>
</tr>
    
<tr>
<td><center>Find the first position at which a specific symbol is</center></td>
<td><center>str_var.<b>find</b>(str_symbol_to_find)</center></td>
    <td><center>Returns an int value, i.e. the <b>index</b>, of the first occurrence of the symbol</center></td>
</tr>
        
<tr>
<td><center>Split a string with respect to a separator</center></td>
<td><center>str_var.<b>split</b>(str_symbol_to_use_for_splitting)</center></td>
<td><center>Returns a list of strings that are split with respect to the symbol used for splitting</center></td>
</tr>

<tr>
<td><center>Join a string with respect to a symbol</center></td>
<td><center>str_symbol_to_use_for_joining.<b>join</b>(list_of_strings_to_join)</center></td>
<td><center>Returns a new string which elements from the list of strings to join are joined with respect to the string symbol to use for joining</center></td>
</tr>

<tr>
<td><center>Replace certain symbol in str_var with another symbol</center></td>
<td><center>str_var.<b>replace</b>(str_symbol_to_replace, str_symbol_to_replace_with)</center></td>
<td><center>Returns a new string with replace symbols</center></td>
</tr>


</table>

### Exercise 6

Define a string **x**. Perform all of the above operations on **x**.

#### Solution

In [ ]:
x = "test StRINg ONE"
y = "test,string,2"

# Accessing a character at a specific index in the string
print(x[5])
print()

# Access a substring
print(x[5:7])
print()

# Finding the length of a string
print(len(x))
print()

# Making the string uppercase
print(x.upper())
print()

# Making the string lowercase
print(x.lower())
print()

# Finding the number of occurances of a symbol in the string
print(x.count('t'))
print()

# Finding the location of the first appearance of the symbol in the string
print(x.find('N'))
print()

# Spliting the string into a list of strings using a symbol as a 'divider'
print(x.split(' '))
print(x.split(','))
print(y.split(','))
print()

# Joining a list of strings into one string using a symbol as a 'joiner'
print('***'.join([x, y]))
print()

# Replacing one sybol with another in the string (all occurances)
print(x.replace('t', 'T'))
print(y.replace(',', ';'))

S

St

15

TEST STRING ONE

test string one

3

9

['test', 'StRINg', 'ONE']
['test StRINg ONE']
['test', 'string', '2']

test StRINg ONE***test,string,2

TesT STRINg ONE
test;string;2

## Operations on/with strings

We can perform mathematical operations on strings.

Given that **x** and **y** are two strings, some operations we can perform are:

<table style="width:100%">
<tr>
<td><center><b>Operation</b></center></td>
<td><center><b>Python syntax</b></center></td>
<td><center><b>Result from performed operation</b></center></td>
</tr>

<tr>
<td><center>Concatenation (addition)</center></td>
<td><center>x + y</center></td>
<td><center>Returns a new string which is the text of <b>y</b> glued at the end of the text of <b>x</b></center></td>
</tr>

<tr>
<td><center>Concatenation (multiplication)</center></td>
<td><center>x * int_value</center></td>
<td><center>Returns a new string which is the text in <b>x</b> glued from the right side int_value times</center></td>
</tr>

<tr>
<td><center>Check if a string is found in another string (as a substring of the original</center></td>
<td><center>str_to_check <b>in</b> x</center></td>
<td><center>Returns <b>True</b> if <b>str_to_check<b/> is found in <b>x</b></center></td>
</tr>

</table>

We can also compare strings in multiple ways.

If **x** and **y** are some string variables defined in Python, some comparison operations that we can perform on **x** and **y** are:

<table style="width:100%">
<tr>
<td><center><b>Operation</b></center></td>
<td><center><b>Python syntax</b></center></td>
<td><center><b>Result from performed operation</b></center></td>
</tr>

<tr>
<td><center>Equal</center></td>
<td><center>x == y</center></td>
<td><center>Returns <b>True</b> if every symbol at a specific index in <b>x</b> is <b>equal</b> to the symbol on the same index in <b>y</b>, else returns <b>False</b></center></td>
</tr>

<tr>
<td><center>Not equal</center></td>
<td><center>x != y</center></td>
<td><center>Returns <b>True</b> if every symbol at a specific index in <b>x</b> is <b>not equal</b> to the symbol on the same index in <b>y</b>, else returns <b>False</b></center></td>
</tr>

<tr>
<td><center>Greater than</center></td>
<td><center>x > y</center></td>
<td><center>Returns <b>True</b> if <b>x</b> is lexicographically <b>greater than</b> <b>y</b>, else returns <b>False</b></center></td>
</tr>

<tr>
<td><center>Greater than or equal to</center></td>
<td><center>x >= y</center></td>
<td><center>Returns <b>True</b> if <b>x</b> is lexicographically <b>greater than</b> <b>y</b> or <b>x</b> is <b>equal</b> to <b>y</b>, else returns <b>False</b></center></td>
</tr>
    
<tr>
<td><center>Less than</center></td>
<td><center>x < y</center></td>
<td><center>Returns <b>True</b> if <b>x</b> is lexicographically <b>less than</b> <b>y</b>, else returns <b>False</b></center></td>
</tr>
        
<tr>
<td><center>Less than or equal to</center></td>
<td><center>x <= y</center></td>
<td><center>Returns <b>True</b> if <b>x</b> is lexicographically <b>less than</b> <b>y</b> or <b>x</b> is <b>equal</b> to <b>y</b>, else returns <b>False</b></center></td>
</tr>

</table>

### Exercise 7

Define strings **x** and **y**. Perform all of the above operations on them.

#### Solution

In [ ]:
x = "this is x"
y = "y y YYYY yyy x"
z = "is"
t = "is"

# Concatanation of strings
print(x + y)
print()

# Muliplication of string
print(3 * x)
print()

# 'in' operator to check whether one string is a substring of another string
print(x in y)
print(z in x)
print()

# Comparing strings
print(x == y)
print(y != z)
print(z == t)
print(z < x)

this is xy y YYYY yyy x

this is xthis is xthis is x

False
True

False
True
True
True

## Lists

Let's view the following shopping list.


1.   Milk
2.   Eggs
3.   Butter
4.   Cheese
5.   Oranges


We can see that each item has its specific position, i.e. Milk is the first item, Eggs is the second item etc.

In other words, each item on the list has its specific index at which it is found. Lists in Python operate in the exact same way.

A **List** in Python is a collection of things, enclosed in [ ] and separated by commas.

We enter the **items** in the list in between **[ ]** and separate them by commas.
The index value for each item in the list is implicitly assigned, starting from 0 as the index for the first element.

**Note:** This is known as zero-based indexing.

In [ ]:
shopping_list = ['Milk', 'Eggs', 'Butter', 'Cheese', 'Oranges']

# shopping_list = ['Milk',
#                  'Eggs',
#                  'Butter',
#                  'Cheese',
#                  'Oranges']

print('shopping_list = ', shopping_list)

shopping_list =  ['Milk', 'Eggs', 'Butter', 'Cheese', 'Oranges']

Python is a language that allows list items to be of any type, even different types of items are allowed within a list (which is not the case in other languages).

Let's see the following example and answer: what is the type of each element?

In [ ]:
x = [7, 2.3, 'text', True, [-4, -3.2, 'text in another list', False]]
x

[7, 2.3, 'text', True, [-4, -3.2, 'text in another list', False]]

### Accessing and working with list items


We can access list elements (items) using their index value, which starts at **0** and ends at **n-1** for a list with length **n**.

This is called accessing items with **indexing**.

In [ ]:
# Access the element at index 0
print(x[0])

# Access the element at index 1
print(x[1])

# If we access the element at index -1 we actually access the last element
print(x[-1])

7
2.3
[-4, -3.2, 'text in another list', False]

In [ ]:
# If the element we access is a list, we can further access its elements
print(x[-1][0])
print(x[-1][2])

-4
text in another list

We can access multiple subsequent items of a list using **slicing**.

In [ ]:
# We can access the items from beginning until before the index specified (in this case items with index 0, 1, 2) i.e. index after ':' is excluded
print(x[:3])

# We can access the items from the index specified until the end of the list (in this case items with index 3, 4), i.e. index before ':' is included
print(x[3:])

# We can access all list items in both these ways
print(x)
print(x[:])

# We can combine two index values and access elements between them, rules for indexes before and after ':' are the same here as well
print(x[1:3])

# We can access every k-th item of a list using the same syntax as before, but adding a k value signifing the step size
x = [1, 2, 3, 4, 5, 6, 7]
print(x[0 : 7 : 3])

[1, 2, 3]
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[2, 3]
[1, 4, 7]

We can change an item in the list in the following manner.

In [ ]:
x = [1, 20, 3, 45, 5, 6, 7]
print('x = ', x)

x[1] = -100
print('x = ', x)

x =  [1, 20, 3, 45, 5, 6, 7]
x =  [1, -100, 3, 45, 5, 6, 7]

### Functions for working with lists

#### **append()**

In [ ]:
x = [1, 2, 3]
x

[1, 2, 3]

In [ ]:
# We can use the 'append' function to add one element at the end of the list
x.append(-1)
print(x)
print()

# We can use the 'append' function to add a list at the end of the list
x.append([1, 2, 3])
print(x)
print()

[1, 2, 3, -1]

[1, 2, 3, -1, [1, 2, 3]]

#### **extend(list)**

In [ ]:
x = [1, 2, 3]

# We can add multiple items from one list at the end of another list
x.extend(['text', -10, 0.2])
print(x)
print()

[1, 2, 3, 'text', -10, 0.2]

#### **count(item)**

In [ ]:
x = [1, 2, 3, 2, 5, 1, 1, 2, 2, 3, 1, 3, 1, [1, 2, 3, 5]]
x

[1, 2, 3, 2, 5, 1, 1, 2, 2, 3, 1, 3, 1, [1, 2, 3, 5]]

In [ ]:
# We can count how many times an item is present in the list in this manner
count = x.count(5)
print(count)

1

In [ ]:
x.count([1, 2, 3, 5])

1

#### **index(item)**

In [ ]:
# We can find the index of an item in the list
x = [1, 2, 3]
x.index(3)

2

#### **pop(index)**

In [ ]:
# We can use the 'pop' function to remove and return a list item given its index
x = [1, 2, 3]

deleted = x.pop(0)
print(deleted)
print(x)

1
[2, 3]

In [ ]:
# If we don't specify an index for the position of th item we want removed, the last item is removed
x = [1, 2, 3]

print(x.pop())
print(x)

3
[1, 2]

#### **sort()** and **sorted()**

In [ ]:
# We can sort a list using the 'sort' function, and in the 'reverse' parameter we can specify if we want a natural or reversed order
x = [1, 2, 3]

x.sort(reverse=True)
x

[3, 2, 1]

In [ ]:
x = [4, 2, 1, 6]

x.sort()
x

[1, 2, 4, 6]

In [ ]:
# We can also use 'sorted(list)' function in a similar manner
x = [4, 2, 1, 6]

x = sorted(x, reverse=True)
x

[6, 4, 2, 1]

#### **del()**

In [ ]:
# We can delete list items by their index value
x = [1, 2, 3]
del x[0]

x

[2, 3]

In [ ]:
# We can delete the entire list in the following manner
# However, we can not work with it afterwards, as it no longer exists
x = [1, 2, 3]
del x

x

NameError: name 'x' is not defined

### Operations with lists

#### Creating an empty list

In [ ]:
x = []
x

[]

In [ ]:
x = list()
x

[]

#### Creating a list using the **range()** function and casting


The **range()** function is a very useful Pyhton function.
It returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), stopping before a specified number.

In other words, this function returns a sequence of numbers 0, 1, 2, ..., n-1 for n as a specified number (default behaviour).

In [ ]:
start, stop, step = 0, 3, 1
x = range(start, stop, step)
x

range(0, 3)

In [ ]:
result = list(x)
result

[0, 1, 2]

In [ ]:
y = range(1, 10, 2)
list(y)

[1, 3, 5, 7, 9]

#### Arithmetic, Comparison and Logical operations

In [ ]:
# Addition
x = [1, 2, 3]
y = [4, 5, 6]

print(x + y)
print(y + x)

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]

In [ ]:
# Multiplying with a constant
print(x * 3)
print(3 * x)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# Equality check
print(x == y)
print(x != y)

False
True

In [ ]:
# Other comparisons
print(x > y)
print(x <= y)

False
True

## Tuples

A **Tuple** is a collection of objects separated by commas and enclosed by ( ).

In some ways, a tuple is similar to a Python list in terms of indexing, nested objects, and repetition of items (elements).

However, there is a major difference between lists and tuples: **tuples are immutable**, whereas lists are mutable.

#### Accessing and working with tuple items

In [ ]:
# We can access tuple elements in the same manner as lists using their indexes
x = (1, 2, 3, 4)

print(x)
print(x[3])

(1, 2, 3, 4)
4

In [ ]:
# However, we can not re-assign value to items, as tuples are immutable
x[3] = 4

TypeError: 'tuple' object does not support item assignment

In [ ]:
# We can also use slicing on tuples
x = (3, 4, 10, 2)
print(x[:4])
print(x[2:4])

(3, 4, 10, 2)
(10, 2)

### Functions for working with tuples

Tuples in Python have only two built-in functions: **count()** and **index()**.

The functions work in the same manner as with lists.

#### **count()**

In [ ]:
# We can count how many times an item is present in the tuple in this manner
x = (1, 2, 2, 3, 4)
x.count(2)

2

#### **index()**

In [ ]:
# We can use the 'index()' function in the same manner as with lists
x = (1, 2, 3, 4, 3)
x.index(3)

2

### Operations with tuples

#### Creating an empty tuple

In [ ]:
x = ()
x

()

#### Arithmetic / Comparison / Logical operations with tuples

All the operations we learned so far work with tuples as well.
Try all of them out as an exercise!

In [ ]:
x = (1, 2, 3)
y = (4, 5, 6)

x + y

(1, 2, 3, 4, 5, 6)

In [ ]:
x = (1, 2, 3, 4)

x * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
x = (1, 2, 3)
y = (1, 4, 10)

x == y

False

In [ ]:
x = (1, 2, 6)
y = (1, 4, 3)

x > y

False

### Casting from a tuple to a list

Since tuples in Python are immutable, we cannot change the data that they store.

This is useful when we don't want to modify/delete data (items/elements).

However, in some cases we will need to work with the data that is stored in a tuple, i.e. change it in some manner. To do so, the easiest way is to cast the tuple into a list.

Casting a tuple into a list can be done using the **list(tuple)** function.
Then, we can alter the list in any way, as with any other list.
After we are done modifying, we can also cast a list back to a tuple using the **tuple(list)** function.

In [ ]:
x = (1, 2, 3, 4)

print('type(x) = ', type(x))
print('x = ', x)
print('---')

x = list(x)

print('type(x) = ', type(x))
print('x = ', x)
print('---')

x[0] = -10

x = tuple(x)

print('type(x) = ', type(x))
print('x = ', x)
print('---')

type(x) =  <class 'tuple'>
x =  (1, 2, 3, 4)
---
type(x) =  <class 'list'>
x =  [1, 2, 3, 4]
---
type(x) =  <class 'tuple'>
x =  (-10, 2, 3, 4)
---